/*Global*/

$font-one: 'Lato', sans-serif;
$font-two: 'Fredoka One', cursive;

$color-one: #222f3e;
$color-two: #c8d6e5;

body {
    background-color: $color-one;
    font-family: $font-one;
}

header h1 {
    font-family: $font-one;
    font-size: 80px;
    color: $color-two;
    text-align: center;
    letter-spacing: 4px;
    font-weight: bold;
}

.game-buttons h2 {
    font-family: $font-one;
    font-size: 40px;
    color: $color-two;
    text-align: center;
    letter-spacing: 2px;
}

.game-buttons #buttons {
    font-family: $font-one;
    font-size: 42px;
    cursor: pointer;
    color: #ff6b6b;
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

.game-buttons #buttons i {
    font-size: 250px;
    text-align: center;
    padding: 60px 40px;
 }

 .game-buttons #buttons i:hover {
    transform: scale(1.2);
    color: #feca57;

}

.game-buttons .m-box {
    font-family: $font-one;
    color: #ff6b6b;
    font-size: 45px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: bolder;
    background-color: $color-two;
    padding: 20px 0 20px 0;
    margin: 0 100px;
    border-radius: 25px;
}

